main {
  width: 240px;
  margin: auto;
  text-align: center;
}

button {
  height: 36px;
  width: 120px;
  padding: 6px;
  border-radius: 6px;
  background-color: #444444;
}

button:hover {
  background: #555555;
}