body {
  background: #191919;
  color: rgba(255, 255, 255, 0.81);
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  background: inherit;
  cursor: pointer;
  border: unset;
  color: inherit;
}